border-radius()
	-webkit-border-radius: arguments
	-moz-border-radius: arguments
	border-radius: arguments

body
	color invert(#fff0f8)
	margin 0
	text-align center
	background-color #fff0f8
	font-family: 'Indie Flower', cursive;

header
	background-color salmon
	text-align center
	font-family arial
	font-family: 'Indie Flower', cursive;
	font-size 34px

h1
	color complement(salmon)
	margin 0
	padding 20px 0

form
	font-size 24px
	padding-top 50px
	text-align left
	display inline-block

ul
	font-size 24px
	list-style none
	padding-top 20px
	text-align center
	margin 0
	padding-left 0
	display inline-block

li
	text-align left

div
	text-align center

button
	margin 5px

#btn
	background-color salmon
	color complement(salmon)
	border-color complement(salmon)
	border-radius: 3px 3px
	font-family: 'Indie Flower', cursive
	text-align center
	padding 1px 5px
	margin 0 auto
	font-size 24px

p
	font-size 30px
	font-weight bold

img
	display inline-block
	float right
	height 200px
	width auto
	right 10px
	bottom 10px
	position fixed
