body {
  margin: 0;
  text-align: center;
}
header {
  background-color: #fa8072;
  text-align: center;
  text-family: arial;
}
h1 {
  color: #fff;
  margin: 0;
  padding: 20px 0;
}
form {
  padding-top: 50px;
}
ul {
  list-style: none;
  padding-top: 20px;
}
input {
  margin: 5px;
}
.about ol {
  margin-bottom: 50px;
}
.align-list {
  text-align: center;
}
.align-list ol {
  display: inline-block;
  text-align: left;
}
